* {
    box-sizing: border-box;
    background-color: lightgray;
}

#middle_header {
   
    width: 850px;
    height: 300px;
    border: 1px lightgray solid;
    background-color: #3578E5;
    
    
    margin: 0 auto;
    
}

.profile-photo {
    width: 200px;
    height: 200px;
    border-radius: 1.7px;
    background-color: #3578E5;
    position: relative;
    top: 125px;
    left: 25px;
    border: 1px black solid;
}

nav {
    width: 850px;
    height: 50px;
    background-color: white;
    /* border: 1px black solid; */
    margin: 0 auto;
}

.your-name {
    color: white;
    position: relative;
    background-color: #3578E5;
    left: 250px;
    width: 580px;
    font-size: 35px;
    font-family: Helvetica;
    
}
.website {
    color: white;
    position: relative;
    background-color: #3578E5;
    left: 250px;
    width: 580px;
    font-size: 30px;
    font-family: Helvetica;
    padding-left: 3px;
}
li {
    list-style-type: none;
    display: inline;
    line-height: 15px;
    border-right: 1px lightgray solid;
    background-color: white;
    position: relative;
    left: 210px;
    top: 15px;
    padding: 5px 1.5%;
}
.nav-links li:hover {
    padding-bottom: 11px;
    font-size: x-large;
    font-weight: bold;
    line-height: 15px;
    border-bottom: 5px #3578E5 solid;
}
/* li.timeline:hover + .blue-line {
    
    display: block;
} */

ul {
    background-color: white;
    margin: 0;
}
li.timeline {
    font-size: 18px;
    font-weight: bold;
    padding-right: 30px;
    
    border-right: none;
    
}
#toggleImage {
    width: 15px;
    height: 15px;
    background-color: white;
    position: relative;
    top: 2px;
    
}

ul.nav-buttons {
    position: relative;
    background-color: #3578E5;
    top: -85px;
    left: 290px;
    
}
ul.nav-buttons li {
    float: left;
}
ul.nav-buttons li:nth-child(1) {
    margin-right: 10px;
}
#like-thumb, #message-icon {
    width: 15px;
    height: 15px;
    float: left;
    background-color: white;
    padding-right: 2px;
}
.follow {
    color: lightgray;
}
.dotdotdot span {
         width: 5px;
        height: 5px;
        border-radius: 50%;
        background: black;
        display: inline-block; 
         /* margin: 0 5px; */
         position: relative;
        bottom: 2px;
}
ul.nav-buttons li:nth-child(4)  {
    padding-right: 4px;
    padding-left: 4px;
    
}
.main {
    width: 850px;
    height: auto;
    margin: 0 auto;
}
.content-left {
    width: 328px;
    height: 500px;
    display: inline-block;
    /* margin: 0 10px 0 0; */
  
    background-color: white;
    margin-top: 5px;
}

.content-right {
    width: 512px;
    height: 500px;
    display: inline-block;
    background-color: white;
    /* margin-top: 5px; */
    margin: 5px 0 0 6px;
    
}
#more {
    display: none;
    position: relative;
    width: 850px;
    margin: 0 auto;
    height: 100px;
    background-color: white;
    

}
#more-open {
    display: block;
    position: relative;
    width: 850px;
    margin: 5px auto;
    /* height: 150px; */
    
}
#more-open p {
    display: block;
    position: relative;
    font-size: 100px;
    text-align: center;
    font-weight: bold;
    background-color: white;
    margin: 0;
    
}
#more p {
    position: relative;
    font-size: 100px;
    text-align: center;
    font-weight: bold;
    
}