html {
    overflow-y: scroll;
  }
* {
    box-sizing: border-box;
    background-color: rgb(175, 173, 173);
}

#middle_header {
   
    width: 850px;
    height: 300px;
    background-color: #3f6299;
    
    
    margin: 0 auto;
    
}

.profile-photo {
    width: 200px;
    height: 200px;
    border-radius: 1.7px;
    background-color: #3f6299;
    position: relative;
    top: 125px;
    left: 25px;
    border: 1px black solid;
}

nav {
    width: 850px;
    height: 50px;
    background-color: white;
    /* border: 1px black solid; */
    margin: 0 auto;
}

.your-name {
    color: white;
    position: relative;
    background-color: #3f6299;
    left: 250px;
    width: 580px;
    font-size: 35px;
    font-family: Helvetica;
    
}
.website {
    color: white;
    position: relative;
    background-color: #3f6299;
    left: 250px;
    width: 580px;
    font-size: 30px;
    font-family: Helvetica;
    padding-left: 3px;
}
li {
    list-style-type: none;
    display: inline;
    line-height: 15px;
    border-right: 1px lightgray solid;
    background-color: white;
    position: relative;
    left: 210px;
    top: 15px;
    padding: 5px 1.5%;
}
li.right {
    list-style-type: circle;
    display: inline;
    line-height: 40px;
    background-color: lightgray;
    border-right: none;
    position: relative;
    left: 0px;
    top: 0px;
    padding: 0 1%;
}
.nav-links li:hover {
    padding-bottom: 11px;
    font-size: x-large;
    font-weight: bold;
    line-height: 15px;
    border-bottom: 5px #3f6299 solid;
}
/* li.timeline:hover + .blue-line {
    
    display: block;
} */

ul {
    background-color: white;
    margin: 0;
}
ul.right-ul, ul.right-ul a {
    background-color: lightgray;
    margin: 0;
    padding-left: 5px;
    color: #3f6299;
    
}
ul.right-ul span{
    background-color: lightgray;
    font-size: x-large;
    color: gray;
    
    position: relative;
    top: 3px;
  
    
}
li.timeline {
    font-size: 18px;
    font-weight: bold;
    padding-right: 30px;
    
    border-right: none;
    
}
#toggleImage {
    width: 15px;
    height: 15px;
    background-color: white;
    position: relative;
    top: 2px;
    
}

ul.nav-buttons {
    position: relative;
    background-color: #3f6299;
    top: -85px;
    left: 290px;
    
}
ul.nav-buttons li {
    float: left;
}
ul.nav-buttons li:nth-child(1) {
    margin-right: 10px;
}
#like-thumb, #message-icon {
    width: 15px;
    height: 15px;
    float: left;
    background-color: white;
    padding-right: 2px;
}
.follow {
    color: lightgray;
}
.dotdotdot span {
         width: 5px;
        height: 5px;
        border-radius: 50%;
        background: black;
        display: inline-block; 
         /* margin: 0 5px; */
         position: relative;
        bottom: 2px;
}
ul.nav-buttons li:nth-child(4)  {
    padding-right: 4px;
    padding-left: 4px;
    
}
.main {
    width: 850px;
    height: auto;
    margin: 0 auto;
}
.content-left {
    width: 328px;
    background-color: white;
    margin-top: 5px;
    float: left;
}
.div-left-space {
    width: 328px; 
    height: 10px;
    background-color: rgb(175, 173, 173);
    float: left;
}
.about {
    width: 328px;
    height: 135px;  
    background-color: white;
    float: left;
    margin-bottom: 10px;
}
.about-two {
    width: 328px;
    height: 140px;  
    background-color: white;
    float: left;
    margin-bottom: 10px;
    
}
.apps {
    width: 328px;
    height: 320px;  
    background-color: white;
    float: left;
    margin-bottom: 10px;
    
}
.photos {
    box-sizing: content-box;
    width: 328px;
    height: 287px;  
    background-color: white;
    float: left;
    margin-bottom: 10px;
    
}


.about-header, .about-two-header, .apps-header, .photos-header {
    
    background-color: lightgray;
    height: 40px;
    width: 328px;
    float: left;
    border-bottom: 2px solid lightgray;
    box-sizing: content-box;
}
.about-header p, .about-two-header p, .apps-header p, .photos-header p {
    
    background-color: lightgray;
    line-height: 40px;
    text-align: left;
    margin: 0;
    padding-left: 10px;
    float: left;
    border-bottom: 2px solid lightgray;
    font-weight: bold;
}
.about-header span, .about-two-header span, .apps-header span, .photos-header span {
    
    background-color: lightgray;
    float: right;
    margin: 0;
    line-height: 40px;
    padding-right: 10px;
    font-weight: bold;
    font-size: x-large;
}
.about-content p, .about-two-content p, .apps-content p{
    background-color: white;
    height: auto;
    line-height: 16px;
    padding: 3%;
    overflow: hidden;
    border-bottom: 2px solid lightgray;
    margin: 0;
    
}
.about-content p:nth-child(1) { 
    padding: 3% 4%;
} 
.about-two-content p word {
    padding-left: 25px;
    background-color: white;
   
}

.about-content a, .about-two-content a {
    background-color: white;
    height: auto;
    line-height: 16px;
    text-decoration: none;
    color: #3f6299;
    
}
.about-two-content img.icon, .about-two-content a {
    width: 20px;
    height: auto;
    background-color: white;
    padding-top: 3px;
}
/* .about-content p:nth-child(1), .about-two-content p:nth-child(1) {
    border-bottom: 2px solid lightgray;
    
} */

span.blue-box {
     background-color: #3f6299;
     width: 100px;
     height: 75px;
     
     float: left;

}
span.blue-box-photos {
    background-color: #3f6299;
    width: 100px;
    height: 75px;
    margin: 1.4%;
    float: left;

}

span.pull-right a {
    background-color: white;
    float: right;
    margin-right: 130px;
    line-height: 75px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    
}

span.pull-right2 a {
    background-color: white;
    float: right;
    margin-right: 155px;
    line-height: 75px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    
}

span.pull-right3 a{
    background-color: white;
    float: right;
    margin-right: 115px;
    line-height: 75px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    
}

.footer {
    width: 328px;
    height: 40px;
    float: left;
    background-color: lightgray;
}


.content-right-top {
    width: 512px;
    height: 315px;
    
    background-color: white;
    margin-top: 5px;
    /* margin: 5px 0 0 6px; */
    float: right;
    
}
.content-right-second {
    width: 512px;
    height: 182px;
    
    background-color: white;
    margin-top: 15px;
    /* margin: 5px 0 0 6px; */
    float: right;
    
}
.content-right-third {
    width: 512px;
    height: 440px;
    
    background-color: white;
    margin-top: 15px;
    /* margin: 5px 0 0 6px; */
    float: right;
    
}
.content-right-fourth {
    width: 512px;
    height: 182px;
    
    background-color: white;
    margin-top: 15px;
    /* margin: 5px 0 0 6px; */
    float: right;
    margin-bottom: 10px;
    
}
.content-right {
    width: 512px;
    height: 500px;
    
    background-color: white;
    margin-top: 15px;
    /* margin: 5px 0 0 6px; */
    float: right;
    
}
.content-footer{
    
    background-color: #eeeeeece;
    height: 40px;
    margin-top: 5px;
    width: 512px;
    float: right;
    border-top: 2px solid lightgray;
    box-sizing: content-box;
    
}
.content-footer2{
    
    background-color: #eeeeeece;
    height: 40px;
    margin-top: 95px;
    width: 512px;
    float: right;
    border-top: 2px solid lightgray;
    box-sizing: content-box;
    
}
.content-footer3{
    
    background-color: #eeeeeece;
    height: 40px;
    margin-top: 123px;
    width: 512px;
    float: right;
    border-top: 2px solid lightgray;
    box-sizing: content-box;
    
}
.content-footer4{
    
    background-color: #eeeeeece;
    height: 40px;
    margin-top: 95px;
    width: 512px;
    float: right;
    border-top: 2px solid lightgray;
    box-sizing: content-box;
    margin-bottom: 10px;
    
}
.content-footer ul {
    position: relative;
    
  
}

.content-right-big-blue-box {
    width: 504px;
    height: 200px;
    background-color: #3f6299;
    float: right;
    
    margin: 30px 4px 0 4px;
    box-sizing: content-box;
    
    
}
.content-right-big-blue-box-event {
    width: 490px;
    height: 200px;
    background-color: #3f6299;
    float: right;
    
    margin: 30px 11px 0 11px;
    box-sizing: content-box;
    
    
}
.event-paragraph {
    background-color: white;
    border: 2px solid lightgray;
    border-top: none;
    margin: 275px 11px 0px 11px;
    padding: 1%;
    position: absolute;
    width: 490px;


}
.event-name {
    background-color: white;
    
    margin-top: 10px;
    color: #3f6299;
}
.event-action {
    background-color: white;
    color: gray;
}
.event-join {
    float: right;
    background-color: white;
    position: absolute;
    margin-left: 260px;
    margin-top: -15px;
    border: 2px #a7a2a2ad solid;
    width: 70px;
    height: 36px;
    line-height: 25px;
    padding: .7%;
}
.calendar-image {
    width: 25px;
    height: auto;
    float: left;
    
}
.content-right-top-header{
    width: 504px;
    height: 40px;
    background-color: white;
    float: right;
    
    margin: 5px 4px 0 4px;
    box-sizing: content-box;
  
    
}
.profile-pic-mini {
    width: 50px;
    height: 50px;
    background-color: #3f6299;
    float: left;
    margin: 1%;
}
span.page-name {
    background-color: white;
    position: absolute;
    margin-top: 10px;
    color: #3f6299;
}
span.action {
    background-color: white;
    position: absolute;
    margin-top: 10px;
    margin-left: 115px;
    color: gray;
}
span.cover-photo {
    background-color: white;
    position: absolute;
    margin-top: 10px;
    margin-left: 207px;
    color: #3f6299;
}
span.time {
    background-color: white;
    position: absolute;
    margin-top: 10px;
    color: gray;
    margin-left: 2px;
    
}

.content-right-paragraph {
    width: 512px;
    margin: 70px auto 0 auto;
    position: absolute;
    text-align: left;
    background-color: white;
    padding: 0 11px 0 11px;
    
}


#more {
    /* display: none; */
    position: relative;
    width: 850px;
    margin: 10px auto 5px auto;
    height: 100px;
    background-color: white;
    height: 120px;
    

}

#more p {
    display: block;
    position: relative;
    font-size: 100px;
    text-align: center;
    font-weight: bold;
    background-color: white;
    margin: 0;
    
}
button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
    outline: inherit;
}

