html {
    overflow-y: scroll;
  }
* {
    box-sizing: border-box;
    background-color: lightgray;
}

#middle_header {
   
    width: 850px;
    height: 300px;
    border: 1px lightgray solid;
    background-color: #3578E5;
    
    
    margin: 0 auto;
    
}

.profile-photo {
    width: 200px;
    height: 200px;
    border-radius: 1.7px;
    background-color: #3578E5;
    position: relative;
    top: 125px;
    left: 25px;
    border: 1px black solid;
}

nav {
    width: 850px;
    height: 50px;
    background-color: white;
    /* border: 1px black solid; */
    margin: 0 auto;
}

.your-name {
    color: white;
    position: relative;
    background-color: #3578E5;
    left: 250px;
    width: 580px;
    font-size: 35px;
    font-family: Helvetica;
    
}
.website {
    color: white;
    position: relative;
    background-color: #3578E5;
    left: 250px;
    width: 580px;
    font-size: 30px;
    font-family: Helvetica;
    padding-left: 3px;
}
li {
    list-style-type: none;
    display: inline;
    line-height: 15px;
    border-right: 1px lightgray solid;
    background-color: white;
    position: relative;
    left: 210px;
    top: 15px;
    padding: 5px 1.5%;
}
.nav-links li:hover {
    padding-bottom: 11px;
    font-size: x-large;
    font-weight: bold;
    line-height: 15px;
    border-bottom: 5px #3578E5 solid;
}
/* li.timeline:hover + .blue-line {
    
    display: block;
} */

ul {
    background-color: white;
    margin: 0;
}
li.timeline {
    font-size: 18px;
    font-weight: bold;
    padding-right: 30px;
    
    border-right: none;
    
}
#toggleImage {
    width: 15px;
    height: 15px;
    background-color: white;
    position: relative;
    top: 2px;
    
}

ul.nav-buttons {
    position: relative;
    background-color: #3578E5;
    top: -85px;
    left: 290px;
    
}
ul.nav-buttons li {
    float: left;
}
ul.nav-buttons li:nth-child(1) {
    margin-right: 10px;
}
#like-thumb, #message-icon {
    width: 15px;
    height: 15px;
    float: left;
    background-color: white;
    padding-right: 2px;
}
.follow {
    color: lightgray;
}
.dotdotdot span {
         width: 5px;
        height: 5px;
        border-radius: 50%;
        background: black;
        display: inline-block; 
         /* margin: 0 5px; */
         position: relative;
        bottom: 2px;
}
ul.nav-buttons li:nth-child(4)  {
    padding-right: 4px;
    padding-left: 4px;
    
}
.main {
    width: 850px;
    height: auto;
    margin: 0 auto;
}
.content-left {
    width: 328px;
    background-color: white;
    margin-top: 5px;
    float: left;
}
.div-left-space {
    width: 328px; 
    height: 10px;
    background-color: lightgray;
    float: left;
}
.about {
    width: 328px;
    height: 135px;  
    background-color: white;
    float: left;
    margin-bottom: 10px;
}
.about-two {
    width: 328px;
    height: 140px;  
    background-color: white;
    float: left;
    margin-bottom: 10px;
    
}
.apps {
    width: 328px;
    height: 275px;  
    background-color: white;
    float: left;
    margin-bottom: 10px;
    
}
.photos {
    width: 328px;
    height: 400px;  
    background-color: white;
    float: left;
    margin-bottom: 10px;
    
}
.about-header, .about-two-header, .apps-header, .photos-header {
    
    background-color: #eeeeeece;
    height: 40px;
    width: 328px;
    float: left;
    border-bottom: 2px solid lightgray;
    box-sizing: content-box;
}
.about-header p, .about-two-header p, .apps-header p, .photos-header p {
    
    background-color: #eeeeeece;
    line-height: 40px;
    text-align: left;
    margin: 0;
    padding-left: 10px;
    float: left;
    border-bottom: 2px solid lightgray;
    font-weight: bold;
}
.about-header span, .about-two-header span, .apps-header span, .photos-header span {
    
    background-color: #eeeeeece;
    float: right;
    margin: 0;
    line-height: 40px;
    padding-right: 10px;
    font-weight: bold;
    font-size: x-large;
}
.about-content p, .about-two-content p, .apps-content p{
    background-color: white;
    height: auto;
    line-height: 16px;
    padding: 3%;
    overflow: hidden;
    border-bottom: 2px solid lightgray;
    margin: 0;
    
}
.about-two-content p word {
    padding-left: 25px;
    background-color: white;
   
}

.about-content a, .about-two-content a {
    background-color: white;
    height: auto;
    line-height: 16px;
    text-decoration: none;
    
}
.about-two-content img.icon, .about-two-content a {
    width: 20px;
    height: auto;
    background-color: white;
    padding-top: 3px;
}
/* .about-content p:nth-child(1), .about-two-content p:nth-child(1) {
    border-bottom: 2px solid lightgray;
    
} */

span.blue-box {
     background-color: #3578E5;
     width: 90px;
     height: 75px;
     
     float: left;

}

span.pull-right {
    background-color: white;
    float: right;
    margin-right: 150px;
    line-height: 75px;
    font-weight: bold;
    
}



.content-right {
    width: 512px;
    height: 500px;
    
    background-color: white;
    margin-top: 5px;
    /* margin: 5px 0 0 6px; */
    float: right;
    
}
#more {
    /* display: none; */
    position: relative;
    width: 850px;
    margin: 10px auto 5px auto;
    height: 100px;
    background-color: white;
    height: 120px;
    

}

#more p {
    display: block;
    position: relative;
    font-size: 100px;
    text-align: center;
    font-weight: bold;
    background-color: white;
    margin: 0;
    
}
button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
    outline: inherit;
}

